#next-duel {
    width: 180px;
    height: 60px;
    background-image: url(../assets/rpg/button.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    text-shadow: 2px 2px #000;
    cursor: pointer;
    transition: transform 0.2s, background-image 0.2s;
    display: none; /* Inicia escondido */
}

#next-duel:hover {
    background-image: url(../assets/rpg/button-hover.png);
    transform: scale(1.1);
}